body{
    background-image:url("../../background\ .jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left:5%;
    margin-right:5%;
    width:90%;
    text-align:center;
}

#header{
    font-size: x-large;
    font-weight: bold;
    color: #0e00b0
}

#logo{
    max-width: 700px;
    width:75%;
    margin-bottom: 20pt;
}

#logo_sinkan{
    width:80%;
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#content{
    text-align:left
}

#explain{
    text-align:left;
    margin-top: 20px;
}

.sub_title{
    font-size: 20px;
    color: #FF0000;
    text-decoration: underline;
}

table.contents{
    margin: 0 auto;
    width: 94%;
    max-width: 400px;
}


#picture0{
    width:90%;
    max-width: 450px;
}

#picture1{
    width:90%;
    max-width: 450px;
    margin-bottom: 20px;
}



div{
    background-color: rgba(255,255,255,0.8);
}

@media only screen and (min-width: 600px){
    body{
        margin-left:10%;
        margin-right:10%;
        width:80%;
    }

    #header{
        font-size: 30px;
        font-weight: bold;
        color: #0e00b0
    }

    #explain{
        margin-left: 5%;
        margin-right: 5%;
    }   
}