body{
    background-image:url("../background\ .jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:left;
    margin-left:5%;
    margin-right:5%;
    width:90%;
        background-attachment: fixed;

}

#header{
    font-size: x-large;
    font-weight: bold;
    color: #ff8c00;
    text-align:center;
}

#logo{
    max-width: 700px;
    width:75%;
    margin-bottom: 10pt;
}


#photo{
    text-align:center;

}
#photo img{
width: 80%;
max-width: 500px;

}

#row{
   text-align:center;
}


div{
    background-color: rgba(255,255,255,0.8);
}

@media only screen and (min-width: 600px){
    body{
        margin-left:10%;
        margin-right:10%;
        width:80%;
    }
}
