body{
    background-image:url("../background\ .jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left:5%;
    margin-right:5%;
    width:90%;
    text-align:center;
}

#header{
    font-size: x-large;
    font-weight: bold;
    color: #0e00b0;
}

#logo{
    max-width: 700px;
    width:75%;
    margin-bottom: 10pt;
}

#content{
    text-align:left
}

table.contents{
    margin: 0 auto;
}

td{
    height:70%;
}

.cause{
    text-align: left;
    color: red;
}


#contents{
    font-size: x-large;
}

div{
    background-color: rgba(255,255,255,0.8);
}

@media only screen and (min-width: 600px){
    
    body{
        margin-left:10%;
        margin-right:10%;
        width:80%;
    }
}
